# CPSC 375 Classwork - Introduction to Python

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/ProfAvery/cpsc375-classwork/blob/main/python.ipynb)

- *Manager*:
- *Recorder*:
- *Presenter*:
- *Timekeeper*:

## Part 1 - Slides 21-23

Calculate the mean of values: 1, 2, 5

Calculate the magnitude of vector (1, 2, 5)

Magnitude = $\sqrt{1^2 + 2^2 + 5^2}$

Normalize the vector

*Divide each component by the magnitude (and save to a new variable)*

Calculate the magnitude of the normalized vector


Calculate the mean of 1st 100 numbers: 1, 2, â€¦, 100

## Part 2 - Slide 33

In [ ]:
import statsmodels.api as sm

iris = sm.datasets.get_rdataset("iris").data
iris.Species = iris.Species.astype("category")

Show all rows where Species is "setosa"

Show all rows where Sepal.Length > 3.0 and Species is "setosa"

What is the largest value of Sepal.Length?

Which row contains this value?

What Species corresponds to this largest Sepal.Length?

## Part 3 - Slide 37

In [ ]:
airquality = sm.datasets.get_rdataset("airquality").data

Consider the data airquality

- How many rows, columns, what are the variable names?

Are there any NAs in column Ozone?
- How many NAs in column Ozone?
- Which rows have NAs in column Ozone?

What is the mean of the Ozone variable?